
<script type="text/javascript">
<% if logged_in? %>
  window.currentUser = <%= render("api/users/user.json.jbuilder",
    user: current_user).html_safe %>
<% end %>

window.fbLoginButton = "<%= image_url('login-with-facebook.jpg') %>";
window.dabEmoji = "<%= image_url('dab.jpg') %>";
window.github = "<%= image_url('github-logo.png') %>"
window.mag = "<%= image_url('mag.jpg') %>"
window.linkedin = "<%= image_url('linkedin.png') %>"
window.about = "<%= image_url('about.png') %>"

</script>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87705882-1', 'auto');
  ga('send', 'pageview');

</script>
<main id="root"></main>
